{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}初始化{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>导入数据库</h1>
</div>
<div class="col-md-6">
    <form method='POST' role="form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <b>上传mdb：<b> {{ form.file_mdb }}
            <br>
            <b>上传excel：</b>{{ form.file_excel }}
            <br>
            {{ form.submit(class="btn btn-default") }}
    </form>
</div>
<div>  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}