{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}显示DCS系统{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>DCS列表</h1>
</div>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="th-left">名称</th>
				<th>类型</th>
				<th>公司</th>
				<th>版本</th>
				<th>操作系统</th>
				<th>已经转换</th>
				<th>软件编写</th>
				<th>算法编写</th>
				<th>源码保管</th>
				<th>源码负责</th>
				<th>算法保管</th>
				<th>算法前缀</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody>
		{% for item in dcses %}
			<tr>
				<td class="th-left">{{item.name}}</td>
				<td>{{item.type_dcs}}</td>
				<td>{{item.company_name}}</td>
				<td>{{item.version}}</td>
				<td>{{item.plateform}}</td>
				<td>{{item.is_convert}}</td>
				<td>{{item.converter_developer}}</td>
				<td>{{item.alg_developer}}</td>
				<td>{{item.sourcecode_keeper}}</td>
				<td>{{item.sourcecode_owner}}</td>
				<td>{{item.alg_keeper}}</td>
				<td>{{item.alg_header}}</td>
				<td>{{item.note}}</td>
				<td>
					<a href="{{ url_for('rk_manage.edit_dcs', id=item.id) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true">-编辑</span></a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<div>  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}