{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}显示项目{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>项目列表</h1>
</div>
<div class="page-header">
    <h4><li><a href="{{ url_for('rk_manage.create_project')}}">添加项目</a></li></h4>
</div>
<div class="page-header">
	<form method='POST' role="form">
		{{ form.hidden_tag() }}
		{{ form.pro.label }} {{ form.pro(class="form-control") }}
		{{ form.submit(class="btn btn-default") }}
	</form>
</div>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="th-left">项目名</th>
				<th>热控负责人</th>
				<th>项目经理</th>
				<th width=200>算法库</th>
				<th>上传时间</th>
				<th width=100>转换软件</th>
				<th>上传时间</th>
				<th>备注</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		{% for item in projects %}
			<tr>
				<td class="th-left">{{item.name}}</td>
				<td>{{item.rk_user}}</td>
				<td>{{item.project_leader}}</td>
				<td>
					{% if item.upload_star_file %}
						<a href="{{ url_for('rk_manage.download_file', filename=item.upload_star_file) }}">
							{{ item.upload_star_real_name }}
						</a>
					{% endif %}
				</td>
				<td>{{item.upload_star_time}}</td>
				<td>
					{% if item.upload_converter_file %}
						<a href="{{ url_for('rk_manage.download_file', filename=item.upload_converter_file) }}">
							{{ item.upload_converter_real_name }}
						</a>
					{% endif %}
				</td>
				<td>{{item.upload_converter_time}}</td>
				<td>{{item.note}}</td>
				<td>
					<a href="{{ url_for('rk_manage.edit_project', id=item.id) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true">-编辑</span></a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
<div>  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}