{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}显示DCS系统{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>DCS列表</h1>
</div>
<div class="page-header">
    <h4><li><a href="{{ url_for('rk_manage.create_dcs')}}">添加DCS</a></li></h4>
</div>
<div class="page-header">
	<form method='POST' role="form">
		{{ form.hidden_tag() }}
		{{ form.dcs.label }} {{ form.dcs(class="form-control") }}
		{{ form.submit(class="btn btn-default") }}
	</form>
</div>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="th-left">名称</th>
				<th>类型</th>
				<th>公司</th>
				<th>版本</th>
				<th>热控负责人</th>
				<th>算法前缀</th>
				<th>标准算法库</th>
				<th>上传时间</th>
				<th>标准转换软件</th>
				<th>上传时间</th>
				<th>备注</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		{% for item in dcses %}
			<tr>
				<td class="th-left">{{item.name}}</td>
				<td>{{item.type_dcs}}</td>
				<td>{{item.company_name}}</td>
				<td>{{item.version}}</td>
				<td>{{item.alg_keeper}}</td>
				<td>{{item.alg_header}}</td>
				<td>
					{% if item.upload_star_file %}
						<a href="{{ url_for('rk_manage.download_file', filename=item.upload_star_file) }}">
							{{ item.upload_star_real_name }}
						</a>
					{% endif %}
				</td>
				<td>{{item.upload_star_time}}</td>
				<td>
					{% if item.upload_converter_file %}
						<a href="{{ url_for('rk_manage.download_file', filename=item.upload_converter_file) }}">
							{{ item.upload_converter_real_name }}
						</a>
					{% endif %}
				</td>
				<td>{{item.upload_converter_time}}</td>
				<td>{{item.note}}</td>
				<td>
					<a href="{{ url_for('rk_manage.edit_dcs', id=item.id) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true">-编辑</span></a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}