{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}显示项目{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>项目列表</h1>
</div>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="th-left">项目名</th>
				<th>客户</th>
				<th>项目全称</th>
				<th>热控负责人</th>
				<th>团队经理</th>
				<th>项目经理</th>
				<th>合同日期</th>
				<th>执行日期</th>
				<th>备注</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		{% for item in projects %}
			<tr>
				<td class="th-left">{{item.name}}</td>
				<td>{{item.customer}}</td>
				<td>{{item.fullname}}</td>
				<td>{{item.rk_user}}</td>
				<td>{{item.team_leader}}</td>
				<td>{{item.project_leader}}</td>
				<td>{{item.sign_date}}</td>
				<td>{{item.execute_date}}</td>
				<td>{{item.note}}</td>
				<td>
					<a href="{{ url_for('rk_manage.edit_project', id=item.id) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true">-编辑</span></a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
<div>  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}